<div class="bodyContainer">
    <h2>Contact Us</h2>
    <div class="container1">
        <br>
        <div class="container2">
            Thank you for visiting the Rockford website. Please submit your questions and comments as directed below.
            <br>
            <br> The Institute's main address is 5050 E State St, Rockford, IL 61108, USA.
            <br>
            <br> The general phone line is (626) 395-6811.
        </div>
        <br>
        <div class="container3">
            <h4>Contact Media Relations</h4>
            Email
            <a href="mailto:mr@rockford.edu">mr@rockford.edu</a>.
            <br>
            <h4>Report a Problem on the Website</h4>
            Email
            <a href="mailto:www@rockford.edu">www@rockford.edu</a>.
        </div>
        <div id="map_canvas">

        </div>
        <br>
    </div>
    <br>
</div>