h2 {
	text-align: center;
}

.bodyContainer {
	width: 98%;
	overflow: auto;
	position: relative;
	left: 1%;
	top: 1%;
	background-color: white;
	border-radius: 10px;
}

#details {
    width: 90%;
    position: relative;
    left: 5%;
    border-radius: 10px;
    background-color: #C1DAD6;
}

#listOfFaculty {
    width: 90%;
    position: relative;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: #C1DAD6;
}

.employeeImage {
    height: 175px;
    width: 175px;
    border: 1px solid black;
    margin: 9px;
}

a {
    text-decoration: none;
}

h3 {
    padding-top: 10px;
}

#details p {
    margin-top: -15px;
}

#details p, h3, h4 {
    margin-left: 5px;
}

#name, #desig {
    text-align: center;
}