<div class="bodyContainer">
    <h2>Faculty</h2>
    <div id="listOfFaculty">
        <h3>Prominent Faculty</h3>
        <a (click)="displayFacultyDetails(1)">
            <img class="employeeImage" id="employee1Image" src="../assets/employee1.jpg">
        </a>
        <a (click)="displayFacultyDetails(2)">
            <img class="employeeImage" id="employee2Image" src="../assets/employee2.jpg">
        </a>
        <a (click)="displayFacultyDetails(3)">
            <img class="employeeImage" id="employee3Image" src="../assets/employee3.jpg">
        </a>
        <a (click)="displayFacultyDetails(4)">
            <img class="employeeImage" id="employee4Image" src="../assets/employee4.jpg">
        </a>
        <a (click)="displayFacultyDetails(5)">
            <img class="employeeImage" id="employee5Image" src="../assets/employee5.jpg">
        </a>
    </div>
    <br>
    <div id="details"></div>
    <br>
</div>