<div class="bodyContainer">
	<div class="newsBanner">
		<br>
		<img id="bannerImage" src="../assets/newsBannerimg.png">
		<h4>11/03/2018 - Launching the MFA in Filmmaking</h4>
		<p id="bannerText">
			Announcing a unique, 2 year online-brief residency MFA, BFA and Diploma program in Filmmaking led by
			award-winning independent producer/director/screenwriter and educator Wayne Crawford. Program Highlights: A
			personalized film education for the training of director/writer/producers. Emphasis on developing the complete
			filmmaker will versed in story and story structure. A 10-day residency at our campus in Paris, France. Write,
			produce and direct 3 films of your...
		</p>
		<br>
	</div>
	<div id="articlesLeft">
		<section class="section1">
			<h2>Welcome!</h2>
			<article class="article1">
				<p>
					<i> Are you looking for a degree that is available fully online, that is going to make an impact
						in your life and in your job?
					</i>
				</p>
				<p>
					<i>
						Are you looking for something different, modern, truly international yet adapted to you and your culture?
					</i>
				</p>
				<p>
					Rockford University has the solution for you.
				</p>
				<p>
					Our mission is to provide the educational experience that fits our students' needs in any part of the world
					and contribute
					to their personal and professional fulfillment
				</p>
				<p>
					We provide programs that flexible in time, that take into account the person's experience and that are
					affordable. We are
					specialized in distant education but we also offer on-campus programs.
				</p>

			</article>
		</section>
	</div>
	<div id="articlesRight">
		<section class="section2">
			<img id="section2Image" src="../assets/section2Image.jpg">
			<div class="section2Text">
				<h2>Campus Study</h2>
				<article class="article2">
					<p>
						Our on-campus programs allow you to interact with faculty and other students during residency periods and
						complete your work
						online. It is another flexible solution that will certainly enhance your professional life.
					</p>
				</article>
			</div>
		</section>
		<section class="section3">
			<img id="section3Image" src="../assets/section3Image.jpg">
			<div class="section3Text">
				<h2>Online Study</h2>
				<article class="article3">
					<p>
						Our online programs allow you to work at your own pace while you keep your job and your activites. You can
						persue a quality
						education without leaving home. This option is also less costly and available in any country
						in the world where you live.
					</p>
				</article>
			</div>
		</section>
		<section class="section4">
			<h2>Experience the new Virtual Campus</h2>
			<article class="article4">
				<p>
					Rockford Univeristy is one of the rare few universities in the world to offer entire course modules in a
					virtual campus,
					along with live presentations form keynote speakers, facilitating learning, communication and
					interaction amongst the community,
					<a>Read More...</a>
				</p>
			</article>
		</section>
	</div>
</div>
<aside>
	<h4>Login</h4>
	<form id="loginForm">
		<div id="loginDiv">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
		</div>
		<br>
		<button type="button">Login</button>
	</form>
	<br>
</aside>